@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}
.font-sans {
  font-family: "Inter", system-ui, sans-serif;
}
